/*
	Theme Name: Hayley Hobson
	Theme URI: http://ansleyfones.com
	Author: Ansley Fones
	Author URI: http://ansleyfones.com
	Description: A Custom WordPress theme by Ansley Fones
	Version: 0.2.0
	Template: hayleyhobson
	Bitbucket Theme URI: https://bitbucket.org/ansleyf/hayleyhobson
	Bitbucket Branch: master
*/

/* --- Fonts --- */
@import url("//hello.myfonts.net/count/2b5b5a");
@font-face {
	font-family: 'Quickpen';
	src: url('fonts/2B5B5A_0_0.eot');
	src: url('fonts/2B5B5A_0_0.eot?#iefix') format('embedded-opentype'),
	url('fonts/2B5B5A_0_0.woff') format('woff'),
	url('fonts/2B5B5A_0_0.ttf') format('truetype');
}

.prox {
	font-family: 'proxima-nova', Lato, Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.quickpen { 
	font-family: Quickpen;
	font-weight: normal;
	font-style: normal;
}

/* --- Default Styles --- */
html {
	font-family: 'proxima-nova', Lato, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
body {
	background: #fff;
	font-family: 'proxima-nova', Lato, Arial, Helvetica, sans-serif;
	color: #333;
}
p, ol, ul {
	margin: 0;
	margin-bottom: 1.2em;
}

.uk-article ol, .uk-article ul {
	line-height: 1.8em;
}

img.alignleft {
	float: left;
	display: block;
	margin-right: 15px;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'proxima-nova', Lato, Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #333;
}

img.alignright {
	float: right;
	display: block;
	margin-left: 15px;
	margin-bottom: 10px;
}

img.aligncenter {
	float: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

img.alignnone {
	float: none;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* --- Custom Theme Styles --- */
em {
	color: #444444;
}
a {
	color: #fa9e5f;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
a.no-deco {
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}
a img:hover {
	opacity:.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition:all .15s  linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	-webkit-backface-visibility: none;
}
.logo {
	margin-top: 10px;
}
.orange {
	color: #f99e5f;
}
.white {
	color: #fff;
}
.uk-container {
	max-width: 1200px;
}
.fullwidth {
	max-width: 900px;
}
.page-id-9546 .fullwidth, .page-id-9573 .fullwidth {
	max-width: 1100px;
}

.uk-navbar {
	background-color: rgba(255, 255, 255, 0.85);
	height: 120px;
}
.uk-navbar-nav.left li {
	margin-right: 0;
	margin-left: 26px;
}
.uk-navbar-nav li a {
	font-family: 'proxima-nova', Lato, Arial, Helvetica, sans-serif;
	color:  #61a88b;
	font-size: 17px; /* Approximation due to font substitution */
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	text-shadow: none;
}
.uk-navbar-nav li a:hover {
	background-color: transparent;
	color: #000000;
	border: none;
	text-shadow: none;
}
.uk-navbar-toggle {
	color:  #61a88b;
	font-size: 22px;
	text-shadow: none;
	margin-left: -45px;
	margin-right: -30px;
}
.uk-navbar-toggle:hover {
	color: #fff;
}
.uk-dropdown {
	padding: 10px 15px;
}
.uk-dropdown,
.uk-dropdown-navbar {
	background: #7858ad;
	border: 0;
	border-radius: 0;
}
.uk-dropdown li a:hover {
	box-shadow: none;
}

.uk-icon-button {
	background: transparent;
	position: relative;
	color: #61a88b;
	text-shadow: none;
	width: 25px;
	height: 30px;
	line-height: 40px;
	font-size: 20px;
	padding: 0 15px;
	border: 0;
	z-index: 1010;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
.uk-icon-button:hover {
	background-color: transparent;
	color: #000000;
	border: 0;
}

.fourohfour {
	font-size: 64px;
	line-height: 64px;
}
.site-header.large {
	background: #fff url('images/header-large.jpg') no-repeat 50% 50%;
	background-size: cover;
	height: 588px;
	margin: 0;
}
.site-header.small {
	background: #fff url('images/header-small.jpg') no-repeat 50% 3%;
	background-size: cover;
	height: 400px;
	margin: 0;
}
header .site-header.small .container {
	margin-top: 76px;
	text-align: center;
}
header .site-header.large .container {
	margin-top: 66px;
	text-align: center;
}
header .site-header.large .container h1 {
	color: #ffffff;
	font-size: 58px;
	line-height: 48px;
	font-weight: 700;
	text-transform: uppercase;
}
header .site-header.large .container h2 {
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: .5px;
}
header .site-header.large .container h2 span {
	color: #ffffff;
	font-family: Quickpen;
	font-size: 102px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 110px;
}
header .site-header.large .container h2.optin-text-special {
	display: block;
	margin-top: -13px;
	margin-left: 40px;
}
header .site-header.small .container h1 {
	color: #ffffff;
	font-size: 48px; /* Approximation due to font substitution */
	font-weight: 700;
	text-transform: uppercase;
}
header .site-header.small .container h1 span {
	font-family: Quickpen !important;
	color: #ffffff;
	font-size: 60px; /* Approximation due to font substitution */
	font-weight: 400;
	text-transform: capitalize;
}
header .uk-form {
	width: 76%;
	margin: 30px auto;
	display: block;
}
header .uk-form-icon {
	display: inline;
}
header .uk-form-icon .uk-icon {
	color: #fff;
	font-size: 26px;
	line-height: 16px;
	padding-left: 10px;
}
header .uk-form input[type=email], header .uk-form input[type=text] {
	background: transparent;
	display: inline;
	width: 37%;
	margin-right: 2%;
	height: 46px;
	color: #fff;
	padding: 8px 9px;
	padding-left: 45px !important;
	border: 2px #fff solid;
	border-radius: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
header .uk-form input[type=email]:focus, header .uk-form input[type=text]:focus {
	background: transparent;
	border: 2px #f99e5f solid;
	color: #fff;
}
header .uk-form input::-webkit-input-placeholder {
	color: #fff;
}
header .uk-form input:-moz-placeholder {
	color: #fff;
}
header .uk-form input::-moz-placeholder {
	color: #fff;
}
header .uk-form input:-ms-input-placeholder {
	color: #fff;
}
header .uk-form input[type=submit] {
	background-color: #fff;
	font-family: Quickpen;
	font-size: 24px;
	line-height: 20px;
	font-weight: 700;
	color: #AAAA6C;
	display: inline;
	width: 14%;
	height: 46px;
	margin-left: 0;
	border: 0;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
header .uk-form input[type=submit]:hover {
	background: #f99e5f;
	color: #fff;
}
header .subnav {
	background: #61a88b;
	text-align: center;
}
header .subnav ul {
	padding: 5px 0;
}
header .subnav li {
	margin-right: 30px;
}
header .subnav li a {
	font-family: 'proxima-nova', Lato, Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: .5px;
}
header .subnav li a:hover {
	color: #000;
}

/* --- Generic Form Styles --- */
.uk-form input {
	font-size: 18px;
}
.uk-form input.clear,
.uk-form textarea.clear {
	background: transparent;
	font-weight: 500;
	border-radius: 0;
}
.uk-form .clear.white{
	color: #fff;
	border: 2px solid #fff;
}
.uk-form .clear.dark{
	color: #333;
	border: 2px solid #333;
}
.uk-form .clear.light::-webkit-input-placeholder {
	color: #fff;
	font-weight: 500;
	text-shadow: none;
	text-transform: uppercase;
}
.uk-form .clear.dark::-webkit-input-placeholder {
	color: #333;
	font-weight: 500;
	text-shadow: none;
	text-transform: uppercase;
}
.uk-form .clear.light:-moz-placeholder {
	color: #fff;
	font-weight: 500;
	text-shadow: none;
	text-transform: uppercase;
}
.uk-form .clear.dark:-moz-placeholder {
	color: #333;
	font-weight: 500;
	text-shadow: none;
	text-transform: uppercase;
}
.uk-form .clear.light::-moz-placeholder {
	color: #fff;
	font-weight: 500;
	text-shadow: none;
	text-transform: uppercase;
}
.uk-form .clear.dark::-moz-placeholder {
	color: #333;
	font-weight: 500;
	text-shadow: none;
	text-transform: uppercase;
}
.uk-form .clear.light:-ms-input-placeholder {
	color: #fff;
	font-weight: 500;
	text-shadow: none;
	text-transform: uppercase;
}
.uk-form .clear.dark:-ms-input-placeholder {
	color: #333;
	font-weight: 500;
	text-shadow: none;
	text-transform: uppercase;
}
.uk-form .clear.light:focus {
	background: transparent;
	color: #fff;
	font-weight: 500;
	border: 2px solid #f99e5f;
}
.uk-form .clear.dark:focus {
	background: transparent;
	color: #333;
	font-weight: 500;
	border: 2px solid #f99e5f;
}


/* --- Home Page Styles --- */
section.wholePillars {
	margin: 45px 0;
}
section.wholePillars h2 {
	color: #333333;
	font-size: 29px; /* Approximation due to font substitution */
	font-weight: 600;
	line-height: 27px; /* Approximation due to font substitution */
	text-transform: uppercase;
	text-align: center;
}
section.wholePillars h2 span {
	display: inline-block;
	position: relative;  
}
section.wholePillars h2 span:before,
section.wholePillars h2 span:after {
	content: "";
	position: absolute;
	height: 1px;
	background-color: #333;
	top: 15px;
	width: 300px;
}
section.wholePillars h2 span:before {
	right: 100%;
	margin-right: 15px;
}
section.wholePillars h2 span:after {
	left: 100%;
	margin-left: 15px;
}
section.wholePillars .intro {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}
section.wholePillars .uk-panel {
	text-align: center;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 27px; /* Approximation due to font substitution */
}
section.wholePillars .uk-panel h3 {
	font-family: Quickpen;
	font-size: 35px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 40px; /* Approximation due to font substitution */
}
section.wholePillars .uk-panel h3 div {
	font-family: 'proxima-nova', Lato, Arial, Helvetica, sans-serif;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 600;
	line-height: 27px; /* Approximation due to font substitution */
}
section.wholePillars .uk-icon {
	font-size: 26px;
}
section.wholePillars .uk-button {
	color: #f99e5f;
	background: transparent;
	text-transform: uppercase;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 27px; /* Approximation due to font substitution */
	text-align: center;
	padding: 10px 30px;
	border: 2px solid #f99e5f;
	border-radius: 0;
	text-shadow: none;
}
section.wholePillars .uk-button:hover {
	background: #f99e5f;
	color: #fff;
	border: 2px solid #f99e5f;
}
section.meetHayley {
	background: url('images/bg-meethayley.jpg') no-repeat 50% 50%;
	background-size: cover;
	height: 820px;
	text-align: center;
	margin-top: 85px;
}
section.meetHayley h2 {
	font-family: Quickpen;
	margin: 145px 0 45px;
	font-size: 52px;
	font-weight: 400;
	/*text-align: center;*/
}
section.meetHayley .content {
	width: 80%;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 400;
	line-height: 26.819px; /* Approximation due to font substitution */
}
section.meetHayley .uk-button {
	color: #333;
	background: transparent;
	font-size: 15px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 27px; /* Approximation due to font substitution */
	text-align: center;
	padding: 10px 30px;
	border: 2px solid #333;
	border-radius: 0;
	text-shadow: none;
}
section.meetHayley .uk-button:hover {
	color: #fff;
	background: #f99e5f;
	border: 2px solid #f99e5f;
}

/* --- About Page --- */
.uk-container.about {
	margin-top: 0px;
	margin-bottom: 65px;
}
.about-t,
.about-p {
	color: #333;
	font-size: 16px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 1.4em;
}
.about-t .notext {
	padding: 0px;
	background-repeat: no-repeat no-repeat;
	background-size: cover !important;
	height: 450px;
}
.about-t .hasbg {
	color: #fff;
	background: url('images/about2-left.jpg') no-repeat no-repeat;
	background-size: cover !important;
}
.about-t .uk-width-medium-1-2 {
	height: 400px;
}
.about-t .container {
	width: 85%;
	margin: 50px 12% 30px 3%;
}
.about-p.container {
	width: 85%;
	margin: 0 auto;
}

.about-t-2 .container {
	margin: 50px 3% 30px 12%;
}

.about-t .hasbg h2,
.about-t .hasbg h1 {
	color: #fff;
}
.about-t a.cta {
	font-size: 15px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 1.5; /* Approximation due to font substitution */
	text-transform: uppercase;
	padding: 15px 60px;
	display: inline-block;
}
.about-t a.cta.dark {
	color: #333;
	border: 2px solid #333;
}
.about-t a.cta.dark:hover,
.about-p a.cta:hover {
	background: #333;
	color: #fff;
}
.about-t a.cta.white {
	color: #fff;
	border: 2px solid #fff;
}
.about-t a.cta.white:hover {
	background: #fff;
	color: #7757ad;
}
.about-t h2,
.about-p h1 {
	font-family: Quickpen;
	color: #333;
	font-size: 35px; /* Approximation due to font substitution */
	font-weight: 300;
	text-transform: none;
	margin: 30px auto 15px;
	line-height: 1.4em;
}
.about-p a.cta {
	color: #333;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 600;
	line-height: 1.5; /* Approximation due to font substitution */
	text-transform: uppercase;
	border: 2px solid #333;
	padding: 15px 60px;
}

/* --- Article Posts --- */
.blogView .uk-width-medium-7-10 {
	padding-right: 50px;
}
article {

}
.uk-article+.uk-article {
	border: 0;
}
article .uk-article-title {
	color: #61a88b;
	font-size: 24px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}
article .uk-article-meta {
	color: #61a88b;
	font-size: 14px; /* Approximation due to font substitution */
	font-weight: 400;
	margin: 0 0 15px;
	font-style: italic;
}
article p {
	font-size: 16px;
	line-height: 24px;
}
article a.more {
	color: #f09723;
	font-weight: 700;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
article a.more:hover {
	color: #444;
}
h2.comments {
	color: #61A88B;
}


/* --- Sidebar Menu --- */

.sidebar * h3 {
	text-transform: uppercase;
	color: #747474;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 500;
	line-height: 1.7; /* Approximation due to font substitution */
	text-align: center;
}

/* --- WIDGET --- */

.widget {
	margin-bottom: 40px;
}

.page-id-9068 .book-widget-container, .page-id-9070 .book-widget-container, .page-id-9072 .book-widget-container, .page-id-9074 .book-widget-container {
	display: none;
}

a.book-widget {
	position: relative;
	display: block;
}

.book-widget img.book-hover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.book-widget:hover img.book-hover {
	display: block;
}

.book-widget img.book-hover:hover {
	opacity: 1;
}
	
/* --- Searchform --- */
.searchform {
	width: 100%;
	margin: 15px auto;
	display: block;
}
.searchform input[name=s] {
	display: inline;
	width: 79%;
	height: 46px;
	color: #61a88b;
	padding: 8px 9px;
	border: 2px #61a88b solid;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
input[name=s]::-webkit-input-placeholder {
	color: #61a88b;
}
input[name=s]:-moz-placeholder {
	color: #61a88b;
}
input[name=s]::-moz-placeholder {
	color: #61a88b;
}
input[name=s]:-ms-input-placeholder {
	color: #61a88b;
}
.searchform input[type=submit] {
	background-color: #61a88b;
	display: inline;
	width: 20%;
	height: 46px;
	color: #fff;
	font-size: 20px;
	margin-left: -4px;
	border: 0;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
.searchform input[type=submit]:hover {
	color: #333;
}


/* --- Pagination --- */
.uk-pagination li a {
	background-color: #61a88b;
	color: #fff;
	text-shadow: none;
}
.uk-pagination li a:hover {
	background-color: #5c8e79;
	color: #fff;
	text-shadow: none;
}

/* --- Footer --- */
section.change {
	background: url('images/bg-change.jpg') no-repeat 50% 50%;
	background-size: cover;
	margin-top: 0;
	padding: 55px 0 35px;
	text-align: center;
}
.home section.change {
	margin-top: 0px;
}
section.change h2 {
	font-family: Quickpen;
	font-size: 40px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 25px; /* Approximation due to font substitution */
}
section.change h3 {
	font-size: 23px; /* Approximation due to font substitution */
	font-weight: 600;
	text-transform: uppercase;
	line-height: 25px; /* Approximation due to font substitution */
}

section.change form {
	margin-top: 10px;
}

section.change form input.uk-width-1-1, section.change form textarea.uk-width-1-1 {
	font-size: 16px;
	padding: 5px;
	min-height: 40px;
}

section.change form textarea.uk-width-1-1 {
	min-height: 75px;
}

section.change .uk-form .clear.dark {
	height: 34px;
	padding-top: 6px;
	display: inline-block;
	width: 48%;
	margin: 0 0 5px;
}

section.change .uk-form .clear.dark.uk-width-1-1 {
	height: auto;
	width: 100%;
}

section.change .uk-form .gform_wrapper .top_label input.medium, section.change .gform_wrapper .top_label select.medium, section.change .gform_wrapper .top_label input.large, section.change .gform_wrapper .top_label select.large, section.change .gform_wrapper .top_label textarea.textarea {
	width: 100%;
	background: 0;
	border: 0;
	padding: 11px;
	font-size: 16px;
}

section.change .gform_wrapper .gform_footer input.button, section.change .gform_wrapper .gform_footer input[type=submit], section.change .uk-button {
	color: #fff;
	background: #f99e5f;
	font-size: 20px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 27px; /* Approximation due to font substitution */
	text-align: center;
	padding: 10px 40px;
	border-radius: 0;
	text-shadow: none;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
	border: 2px solid #f99e5f;
}
section.change .gform_wrapper .gform_footer input.button:hover, section.change .gform_wrapper .gform_footer input[type=submit]:hover, section.change .uk-button:hover {
	color: #f99e5f;
	background: none;
}

section.change .uk-form .gform_wrapper ::-webkit-input-placeholder {
color: #444; 
text-transform: uppercase;
}

section.change .uk-form .gform_wrapper :-moz-placeholder { /* Firefox 18- */
color: #444; 
text-transform: uppercase;
}

section.change .uk-form .gform_wrapper ::-moz-placeholder { /* Firefox 19+ */
color: #444; 
text-transform: uppercase; 
}

section.change .uk-form .gform_wrapper :-ms-input-placeholder { 
color: #444; 
text-transform: uppercase; 
}

section.change .gform_wrapper {
	width: 98%;
}

section.change .gform_wrapper .website-field {
	display: none;
}

section.change .gform_wrapper .gform_heading {
	display: none!important;
}

section.change .gform_wrapper .top_label .gfield_label {
	display: none!important;
}

.footer-nav {
	background: #F99E5F;
	text-align: center;
	margin-top: 45px;
}

.home .footer-nav {
	margin-top: 0;
}

.footer-nav ul {
	padding: 5px 0;
	list-style: none;
	margin-bottom: 0;
}
.footer-nav li {
	margin-right: 30px;
	display: inline;
}
.footer-nav li a {
	font-family: 'proxima-nova', Lato, Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	line-height: 40px;
	display: inline-block;
	letter-spacing: .5px;
}
.footer-nav li a:hover {
	color: #000;
}

footer {
}
footer .af {
	background-color:  #61a88b;
}
footer .af div,
footer .af a,
footer .af a:hover {
	padding: 10px 0;
	color: #fff;
	font-size: 13px;
}

/*------------- BUTTONS ------------------*/

a.button {
	color: #333;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
	border: 2px solid #333;
	padding: 15px 60px;
	display: inline-block;
}

a.button:hover {
	background: #333;
	color: #fff;
}

.events-box {
	color: #f99e5f;
	background: none;
	font-size: 20px;
	font-weight: 700;
	line-height: 27px;
	text-align: center;
	padding: 10px 4%;
	border-radius: 0;
	text-shadow: none;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
	border: 2px solid #f99e5f;
	width: 92%;
	text-transform: uppercase;
	display: block;
}

.events-box:hover {
	color: #fff;
	background: #f99e5f;
}

/*------------- GALLERIES ------------------*/

.gallery .gallery-item {
	position: relative;
}

.gallery .gallery-item img {
	bordeR: 4px solid #fff!important;
}

.gallery .gallery-item .gallery-caption {
	position: absolute;
	margin-left: 0;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background: rgba(255,255,255,.85);
	padding: 5px 0 10px;
	font-weight: bold;
	font-size: 18px;
}

/*------------- VIDEOS------------------*/

.video-wrapper {
	width: 800px!important;
	margin-left: auto;
	margin-right: auto;
}

.iin-optin {
	background: #E12627;
	color: #fff;
	padding: 15px 10px 10px;
	text-align: center;
	margin: 10px 0 30px;
}

.iin-optin h2, .iin-optin h3 {
	color: #fff;
}

.iin-optin input {
	display: inline-block;
	margin: 0 5px 10px;
}

.iin-optin #mc-embedded-subscribe {
	background: #fff;
	color: #E12627;
	border: 0;
	text-transform: uppercase;
}

/* --- Responsive --- */
/* Desktop and bigger */

@media (min-width: 960px) and (max-width: 1150px) {
	.uk-navbar-nav.left li:first-child {
		margin-left: 0;
	}

	.logo {
		margin-top: 21px;
		max-width: 175px;
	}
}

@media (min-width: 960px) {
}
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
	.uk-navbar-center {
		max-width: 100%;
	}
	section.meetHayley {
		background: #fff;
	}
	section.wholePillars h2 span:before,
	section.wholePillars h2 span:after {
		height: 0;
	}

	header .site-header.large .container, header .site-header.small .container {
		left: 13%;
	}
}
/* Phone landscape and smaller */
@media (max-width: 767px) {
	.uk-navbar-center {
		max-width: 100%;
	}
	* .uk-form {
		width: 100% !important;
	}
	.site-header.large {
		height: 650px;
	}
	header .site-header.large .container h2 span {
		font-size: 70px;
	}
	section.meetHayley {
		background: #fff;
		height: 720px;
	}
	section.meetHayley h2 {
		margin-top: 45px;
	}
	section.wholePillars h2 span:before,
	section.wholePillars h2 span:after {
		height: 0;
		right: 0;
		left: 0;
		width: 100%;
		margin: 0 auto;
	}
	.about * {
		text-align: center;
	}
	.about-t .container,
	.about-p.container {
		width: 95%;
		margin: 0 auto;
	}
	.about-p.uk-grid * {
		padding-left: 0px;
	}
	.blogView .uk-width-medium-7-10 {
		padding-right: 0px;
	}
	section.change h2 {
		margin-top: -20px;
		line-height: 55px;
	}
}

@media (max-width: 500px) {

	.site-header.large, .site-header.small {
		background-position: right top;
		background-size: cover;
	}

	header .site-header.large .container, header .site-header.small .container {
		margin-top: 33px;
	}

	header .site-header.large .container h1 {
		font-size: 40px;
	}

	header .uk-form input[type="email"], header .uk-form input[type="text"] {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.uk-form-icon > [class*="uk-icon-"] {
		margin-top: -14px;
	}
	
	header .uk-form input[type="submit"] {
		width: 80px;
	}

	.site-header.small {
		height: auto;
		padding-bottom: 20px;
	}

	header .site-header.small .container h1 span {
		display: inline-block;
		margin-top: 33px;
	}

}

@media (max-width: 400px) {

	.uk-navbar {
		height: 140px;
	}

	.uk-navbar div.uk-container.uk-container-center {
		margin-top: -20px;
	}

	header .site-header.large .container h2 span {
		font-size: 48px;
		display: block;
		margin-top: -20px;
	}
	
	
	header .site-header.large .container h2.optin-text-special {
		margin-top: -30px;
	}

	.site-header.large {
		height: auto;
		padding-bottom: 15px;
	}

}